include /layouts/main.pug
.container.w-full.h-screen.mx-auto.flex.flex-col.justify-center.items-center
    h1(class="text-center text-5xl font-bold")=title
    img(src="/src/assets/logo.svg" style="max-width: 400px")